body {
  font-family: Arial, sans-serif;
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.destination {
  margin-bottom: 40px;
  border: 1px solid aquamarine;
  padding: 5px;
  height: 350px;
  width: 500px;
  background-color: rgba(127, 255, 212, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.destination h2 {
  margin-bottom: 10px;
}

.destination img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.destination p {
  margin: 0;
  padding: 10px;
  text-align: justify;
}

